.footer {
  padding-block: 2.1875rem;
  background-color: $clr-secondary-400;
  text-align: center;

  @include breakpoint-up(large){
    text-align: left;
  }

  .container {
    display: grid;
    place-content: center;
    @include breakpoint-up(large) {
      grid-template-columns: 2fr 1fr 1fr 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "logo links1 links2 cta"
        "socials links1 links2 copyright";
      gap: 1rem;
      justify-items: start;
    }
  }

  &__logo {
    margin-bottom: 1.5625rem;
    path {
      &[fill="#2D314D"] {
        fill: $clr-neutral-100;
      }
    }
    @include breakpoint-up(large){
      grid-area: logo;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.875rem;

    @include breakpoint-up(large){
      grid-area: socials;
      margin-bottom: 0;
    }
  }

  &__social-link {
    &:hover,
    &:focus {
      svg {
        path {
          fill: $clr-primary-400;
        }
      }
    }
  }

  &__links {
    a {
      line-height: 2.25;
    }

  }

  .col1 {
    @include breakpoint-up(large){
      grid-area: links1;
    }
  }

  .col2 {
    margin-bottom: 1.875rem;

    @include breakpoint-up(large){
      grid-area: links2;
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    font-size: $fs-200;
    color: $clr-neutral-100;

    @include breakpoint-up(large){
      font-size: $fs-300;
    }
    &:hover,
    &:focus {
      color: $clr-primary-400;
    }
  }

  &__cta {
    button {
      font-size: $fs-200;
      margin-bottom: 1.5625rem;
      @include breakpoint-up(large){
        font-size: $fs-300;
        margin-bottom: 0;
      }
    }
    @include breakpoint-up(large){
      grid-area: cta;
      justify-self: end;
    }
  }

  &__copy{
    @include breakpoint-up(large){
      grid-area: copyright;
      justify-self: end;
    }
  }
}
